
.navLinks {
  max-width: 90%;
  margin: auto; 
}

.resources {
  color: lightgrey;
  background-color: lightgrey;
  width: 90%;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 20px;
  border-radius: 7px;
}

.links {
  border: solid;
  border-color: lightgrey;
  text-align: center;
  border-radius: 12px;
  color: rgb(107, 108, 113);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  background-color: white;
  height: 80px;
}

.dogs {
  text-align: center;
  margin: auto;
  
}
.dogInfo {
  max-width: 90%;
  height: fit-content;
  border-radius: 10px;
  border: solid;
  color: rgb(127, 129, 135);
  margin: auto;
  padding: 15px;
}

.aboutMe {
  max-width: 90%;
  height: fit-content;
  border: solid;
  border-radius: 10px;
  color: rgb(127, 129, 135);
  margin: auto;
  padding: 10px;

}

#adoptionGuide {
  max-width: 90%;
  border: transparent;
  margin: auto;
}
#prepare {
    max-width: 90%;
    border: transparent;
    margin: auto;  
}

.footer {
  margin: auto;
  padding: 8px;
  width: fit-content;
  border-style: transparent;
  border-radius: 10px;
 
}

.card-title {
  text-shadow: 1px 1px 2px black;
}

.search-image:hover {
  cursor: pointer;
}

#fillerImg {
  margin: center;
}

.carousel {
  height: 340px;
  perspective: 600px;
}

.carousel-item {
  width: 300px !important;
}
.contact{
    margin: Auto;
    border-style: transparent;
    text-align: center;
    color: rgb(127, 129, 135);
}

.hidden {
  display: none;
}

.dogEmail {
  margin-left: 30px;
  position: relative;
}
  


