

#nav-wrapper {
  width: 80%;
}

.resources {
  color: lightgrey;
  background-color: lightgrey;
  width: 90%;
  padding-top: 8px;
  margin-top: 20px;
  height: 90px;
  border-radius: 10px;
}

.links {
  border: solid;
  border-color: lightgrey;
  text-align: center;
  border-radius: 12px;
  color: black;
  font-size: 17px;
  background-color: white;
  height: 70px;
}

.dogs {
  text-align: center;
  margin: auto;
  
}
.dogInfo {
  max-width: 90%;
  height: fit-content;
  border-radius: 10px;
  border: solid;
  color: rgb(157, 160, 169);
  margin: auto;
  padding: 15px;
}

.aboutMe {
  max-width: 90%;
  height: fit-content;
  border: solid;
  border-radius: 10px;
  color: rgb(157, 160, 169);
  margin: auto;
  padding: 10px;
}

#adoptionGuide {
  max-width: 90%;
  border: transparent;
  margin: auto;
}
#prepare {
    max-width: 90%;
    border: transparent;
    margin: auto;  
}

.footer {
  margin: auto;
  padding: 8px;
  margin:20px;
  border-style: transparent;
  background-color: rgb(208, 208, 211);
  border-radius: 10px;
}

.card-title {
  text-shadow: 1px 1px 2px black;
}

.search-image:hover {
  cursor: pointer;
}

/* #fillerImg {
  margin: center;
} */

.carousel {
  height: 360px;
  perspective: 400px;
}

.carousel-item {
  width: 300px !important;
}
.contact{
    margin: auto;
    border-style: transparent;
    text-align: center;
    color: rgb(157, 160, 169);
    height: 45px;
}



.hidden {
  display: none;
}

.dogEmail {

  margin-left: 320px;
  /* position: relative;
} */
  






